
#work{
  width: 100vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  #title{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    &>p:nth-child(1){
      height: 10vh;
      letter-spacing: 15px;
      font-weight: 1000;
    }
    &>h4{
      height: 10vh;
      color: #FF6C34;
    }
  }

  &>div:nth-child(2){
    width: 70vw;
    height: 5vh;
    color: #FF6C34;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
  }
}


// page1

#filgrimage_pageOne{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // z-index: 0;
  &>div:nth-child(1){
    width: 100vw;
    height: 100vh;
    display: flex;
    &>div{
      width: 16.6vw;
      height: 100vh;
      background-size: cover;
  }

    &>div:nth-child(1){
      background-image: url(/Image/leejoo.svg);
    }
    &>div:nth-child(2){
      background-image: url(/Image/byun.svg);
    }
    &>div:nth-child(3){
      background-image: url(/Image/leemin.svg);
    }
    &>div:nth-child(4){
      background-image: url(/Image/gugyo.svg);
    }
    &>div:nth-child(5){
      background-image: url(/Image/jeonteo.svg);
    }
    &>div:nth-child(6){
      background-image: url(/Image/untae.svg);
    }
}
}

#filgrimage_pageTwo{
  width: 100vw;
  height: 100vh;
  background-image: url(/Image/actors.svg);
  background-size: cover;

  display: flex;
&>div:nth-child(1){
  width: 23vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  color: #fff;
  position: sticky;
  // left: 0;
  // bottom: 20vh;
  &>div{
    width: 23vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // font-size: 1.3rem;
    &>h5{
      font-size: 4rem;
      height: 20vh;
    }
    &>p{
      width: 20vw;
      text-align: center;
      line-height: 50px;
    }
  }
}
// left
&>div:nth-child(2){
  width: 77vw;
  // height: 100vh;
  background-color: #ccc;

  &>ul{
    width: 65vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    font-size: 4.5rem;
    color: rgb(165, 165, 165);
    &>li:nth-child(1){
      color: #000;
    }
  }
// nav

#rightPage{
  width: 77vw;
  height: 85vh;
  background-color: #ccc;
  display: flex;
  overflow: scroll;

  &>div:nth-child(1){
    width: 38.5vw;
    // height: 85vh;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;

    &>div:nth-child(1){
      width: 30vw;
      height: 40vh;
      // background-image: url(/Image/screen1.svg);
      background-size: cover;
    }



    &>div:nth-child(2){
      width: 33vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      // font-size: 2rem;
      &>div:nth-child(1){
        width: 33vw;

        &>p:nth-child(1){
          font-size: 2rem;
          height: 10vh;
          display: flex;
          align-items: center;
        }

      }

    }



  }
  &>div:nth-child(2){
    width: 38.5vw;
    // height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow-y: auto;


    &>div:nth-child(1){
      width: 35vw;
      height: 20vh;

      &>p:nth-child(1){
        width: 35vw;
        height: 10vh;
        display: flex;
        align-items: center;
        font-size: 2rem;

      }
      
    }
    &>div:nth-child(2){
      width: 30vw;
      // height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &>div:nth-child(1){
        width: 30vw;
        height: 40vh;
        background-size: cover;
      }
    }

  }
}
}

}

#hanbokPage{
  width: 100vw;
  height: 100vh;
  background-image: url(hanbok_main.png);
  background-size: cover;
  
  &>div:nth-child(1){
    width: 30vw;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    &>div:nth-child(1){
      width: 30vw;
      height: 50vh;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 8rem;
      font-weight: 1000;
      &>p:nth-child(1){
        color: rgba(255, 255, 255, 0.3);
        
      }
      &>p:nth-child(2){
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}

#hanbok_main{
  width: 100vw;
  height: 100vh;
  background-image: url(/Image/hanbokmain.svg);
  background-size: cover;

  display: flex;
&>div:nth-child(1){
  width: 23vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  color: #fff;

  &>div{
    width: 23vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    &>h5{
      font-size: 4rem;
      height: 20vh;
    }
    &>p{
      width: 20vw;
      text-align: center;
      line-height: 50px;
    }
  }
}
// left
&>div:nth-child(2){
  width: 77vw;
  height: 100vh;
  background-color: #ccc;

  &>ul{
    width: 65vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;

    list-style-type: none;
    font-size: 4.5rem;
    color: rgb(165, 165, 165);
    &>li:nth-child(1){
      color: #000;
    }
  }
// nav

#hanbok_rightPage{
  width: 77vw;
  height: 85vh;
  display: flex;

  &>div:nth-child(1){
    width: 38.5vw;
    height: 85vh;
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;

    &>div:nth-child(1){
      width: 33vw;
      height: 45vh;
      // background-image: url(hanbok_screen1.png);
      background-size: 65rem;
    }
    &>div:nth-child(2){
      width: 33vw;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      // font-size: 2rem;
      &>div:nth-child(1){
        width: 33vw;

        &>p:nth-child(1){
          font-size: 2rem;
          height: 10vh;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  
  &>div:nth-child(2){
    width: 38.5vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &>div:nth-child(1){
      width: 35vw;
      height: 20vh;

      &>p:nth-child(1){
        width: 35vw;
        height: 10vh;
        display: flex;
        align-items: center;
        font-size: 2rem;

      }
      
    }
    &>div:nth-child(2){
      width: 30vw;
      height: 35vh;
      background-color: rgb(92, 92, 92);
      background-size: 45rem;
    }
  }
}
}
}