#work {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#work #title {
  width: 50vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3rem;
}
#work #title > p:nth-child(1) {
  height: 10vh;
  letter-spacing: 15px;
  font-weight: 1000;
}
#work #title > h4 {
  height: 10vh;
  color: #FF6C34;
}
#work > div:nth-child(2) {
  width: 70vw;
  height: 5vh;
  color: #FF6C34;
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
}

#filgrimage_pageOne {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#filgrimage_pageOne > div:nth-child(1) {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#filgrimage_pageOne > div:nth-child(1) > div {
  width: 16.6vw;
  height: 100vh;
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(1) {
  background-image: url(/Image/leejoo.svg);
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(2) {
  background-image: url(/Image/byun.svg);
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(3) {
  background-image: url(/Image/leemin.svg);
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(4) {
  background-image: url(/Image/gugyo.svg);
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(5) {
  background-image: url(/Image/jeonteo.svg);
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(6) {
  background-image: url(/Image/untae.svg);
}

#filgrimage_pageTwo {
  width: 100vw;
  height: 100vh;
  background-image: url(/Image/actors.svg);
  background-size: cover;
  display: flex;
}
#filgrimage_pageTwo > div:nth-child(1) {
  width: 23vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
}
#filgrimage_pageTwo > div:nth-child(1) > div {
  width: 23vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#filgrimage_pageTwo > div:nth-child(1) > div > h5 {
  font-size: 4rem;
  height: 20vh;
}
#filgrimage_pageTwo > div:nth-child(1) > div > p {
  width: 20vw;
  text-align: center;
  line-height: 50px;
}
#filgrimage_pageTwo > div:nth-child(2) {
  width: 77vw;
  background-color: #ccc;
}
#filgrimage_pageTwo > div:nth-child(2) > ul {
  width: 65vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 4.5rem;
  color: rgb(165, 165, 165);
}
#filgrimage_pageTwo > div:nth-child(2) > ul > li:nth-child(1) {
  color: #000;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage {
  width: 77vw;
  height: 85vh;
  background-color: #ccc;
  display: flex;
  overflow: scroll;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(1) {
  width: 38.5vw;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(1) > div:nth-child(1) {
  width: 30vw;
  height: 40vh;
  background-image: url(/Image/screen1.svg);
  background-size: cover;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(1) > div:nth-child(2) {
  width: 33vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  width: 33vw;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  font-size: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(2) {
  width: 38.5vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(2) > div:nth-child(1) {
  width: 35vw;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  width: 35vw;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(2) > div:nth-child(2) {
  width: 35vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#filgrimage_pageTwo > div:nth-child(2) #rightPage > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 30vw;
  height: 40vh;
  background-image: url(/Image/screen2.svg);
  background-size: 45rem;
}

#hanbokPage {
  width: 100vw;
  height: 100vh;
  background-image: url(hanbok_main.png);
  background-size: cover;
}
#hanbokPage > div:nth-child(1) {
  width: 30vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hanbokPage > div:nth-child(1) > div:nth-child(1) {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 1000;
}
#hanbokPage > div:nth-child(1) > div:nth-child(1) > p:nth-child(1) {
  color: rgba(255, 255, 255, 0.3);
}
#hanbokPage > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.3);
}

#hanbok_main {
  width: 100vw;
  height: 100vh;
  background-image: url(hanbok_main.png);
  background-size: cover;
  display: flex;
}
#hanbok_main > div:nth-child(1) {
  width: 23vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
}
#hanbok_main > div:nth-child(1) > div {
  width: 23vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
#hanbok_main > div:nth-child(1) > div > h5 {
  font-size: 4rem;
  height: 20vh;
}
#hanbok_main > div:nth-child(1) > div > p {
  width: 20vw;
  text-align: center;
  line-height: 50px;
}
#hanbok_main > div:nth-child(2) {
  width: 77vw;
  height: 100vh;
  background-color: #ccc;
}
#hanbok_main > div:nth-child(2) > ul {
  width: 65vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 4.5rem;
  color: rgb(165, 165, 165);
}
#hanbok_main > div:nth-child(2) > ul > li:nth-child(1) {
  color: #000;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage {
  width: 77vw;
  height: 85vh;
  display: flex;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(1) {
  width: 38.5vw;
  height: 85vh;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(1) > div:nth-child(1) {
  width: 33vw;
  height: 45vh;
  background-image: url(hanbok_screen1.png);
  background-size: 65rem;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(1) > div:nth-child(2) {
  width: 33vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
  width: 33vw;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  font-size: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(2) {
  width: 38.5vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(2) > div:nth-child(1) {
  width: 35vw;
  height: 20vh;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  width: 35vw;
  height: 10vh;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#hanbok_main > div:nth-child(2) #hanbok_rightPage > div:nth-child(2) > div:nth-child(2) {
  width: 30vw;
  height: 35vh;
  background-color: rgb(92, 92, 92);
  background-size: 45rem;
}/*# sourceMappingURL=work.css.map */