#footer{
  width: 100vw;
  // height: 25vh;
  // border: 1px solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &>div:nth-child(1){
    width: 100vw;
    height: 15vh;
    color: #fff;
    // border-right: 1px solid #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 2vw;
    &>h1{
      font-size: 3rem;
      height: 15vh;
    }
    &>p{
      width: 75vw;
      // height: 20vh;
      text-align: left;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &>div:nth-child(2){
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &>div:nth-child(1){
      width:1.6vw;
      height: 2.5vw;
    }
  }
  
}