* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  background-image: url(paper.png);
}
#root #header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
}
#root #header > div:nth-child(1) {
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}