#landing{
  width: 150vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#131423, #131423, #131423,#131423, #383733, #45433D, #9D955E);
  
  
#backdropBox{
  width: 150vw;
  height: 80vh;
  // background: linear-gradient(#ffffff, #c2c1ba);
  background-image: url(/Image/background.svg);

  // color: #fff;
  opacity: 0.2;
  border-radius: 20px;
  // background-color: #fff;
  // backdrop-filter: blur(10px);
  display: flex;
  // filter: drop-shadow(0 5vh 20px 20px rgb(34, 34, 34));
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box{
  backdrop-filter: blur(10px);
}
}




#textbox{
position: absolute;
bottom: 25vh;
left: 10vw;
  &>p:nth-child(1){
    height: 15vh;
    font-size: 8rem;
    font-weight: 1000;
    color: rgba(255, 255, 255);
    // position: absolute;

    z-index: 4;
    mix-blend-mode: difference;
  }
  &>p:nth-child(2){
    width: 50vw;
    font-size: 1rem;
    text-align: left;
    mix-blend-mode: difference;
    // position: absolute;

    z-index: 2;
    color: rgb(255, 255, 255);
  
    // font-weight: 1000;
  }
}