#landing{
  width: 100vw;
  height: 110vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#131423, #131423, #131423,#131423, #383733, #45433D, #9D955E);
  
  
#backdropBox{
  width: 80vw;
  height: 80vh;
  // background: linear-gradient(#ffffff, #c2c1ba);
  background-image: url(/Image/background.svg);
  background-size: cover;
  // color: #fff;
  opacity: 0.2;
  border-radius: 20px;
  // background-color: #fff;
  // backdrop-filter: blur(10px);
  display: flex;
  // filter: drop-shadow(0 5vh 20px 20px rgb(34, 34, 34));
  // z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#box{
  backdrop-filter: blur(10px);
}

#textBox{
  width: 80vw;
  height: 50vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  mix-blend-mode: difference;

  &>p:nth-child(1){
    height: 15vh;
    font-size: 6rem;
    font-weight: 1000;
    color: rgba(255, 255, 255,1);
    
    // bottom: 35vh;
    
  }
  &>p:nth-child(2){
    width: 50vw;
    font-size: 2rem;
    text-align: left;
    mix-blend-mode: difference;
    line-height: 60px;
    // bottom: 30vh;
    color: rgb(255, 255, 255);

    // font-weight: 1000;
  }
}


}